@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'item'
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
     'primary': (
       'base': #9B51F5,
     ),
  ),
  $menu:(
    'item-height': 40px,
  ),
);